#rocket_dummy{
    position:absolute;
    left:8px; 
    top:50px;
    width:55px; 
    height:55px;
}

#rocket_mobile{
    position:absolute;
    top:0px;
    margin:85px 0 0 -4px;
    width:60px; 
    height:185px;
}

#rocket_mobile.fixed{
    position:fixed; 
    top:200px;
}
 
#rocket_dock{
    position:absolute; 
    width:28px; 
    height:28px;
    top:164px;
    left:12px;
    background:url('../images/rocket-sprite.png') 0 0 no-repeat;
}
 
#rocket_mobile .rocket_body{
    position:absolute; 
    width:60px; 
    height:60px; 
    top:63px; 
    left:0;
    background:url('../images/rocket-sprite.png') 0 -28px no-repeat;
}
 
#rocket_mobile .fire{
    position:absolute;
     width:35px; 
     height:78px;
}

#rocket_mobile .fire.top{
    left:13px; 
    top:3px;
    background:url('../images/rocket-sprite.png') -60px 0 no-repeat;
}

#rocket_mobile .fire.top.on{
    background-position:-95px 0;
}

#rocket_mobile .fire.bottom{
    left:13px; 
    top:104px;
    background:url('../images/rocket-sprite.png') -60px -78px no-repeat;
}

#rocket_mobile .fire.bottom.on{
    background-position:-95px -78px;
}

.rocket_body{
   width:60px; 
   height:60px;
   background: url('../images/rocket-sprite.png') -28px 0px no-repeat;
}